<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center shadow rounded ratio ratio-1x1 h-75">
        <a href="<%= quartos_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Quartos</h5>
          <p class="card-text">Gerenciar quartos da pousada.</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center shadow rounded ratio ratio-1x1 h-75">
        <a href="<%= funcionarios_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Funcionários</h5>
          <p class="card-text">Gerenciar funcionários da pousada.</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center shadow rounded ratio ratio-1x1 h-75">
        <a href="<%= hospedes_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Hóspedes</h5>
          <p class="card-text">Gerenciar hóspedes da pousada.</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center shadow rounded ratio ratio-1x1 h-75">
        <a href="<%= contas_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Contas</h5>
          <p class="card-text">Gerenciar contas de usuário.</p>
        </a>
      </div>
    </div>
  </div>
</div>
