<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center shadow-sm rounded ratio ratio-1x1 h-75">
        <a href="<%= quartos_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Quartos</h5>
          <p class="card-text">Gerenciar quartos da pousada.</p>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm rounded ratio ratio-1x1 h-75">
        <a href="" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Funcion치rios</h5>
          <p class="card-text">Gerenciar funcion치rios da pousada.</p>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm rounded ratio ratio-1x1 h-75">
        <a href="#" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">H칩spedes</h5>
          <p class="card-text">Gerenciar h칩spedes da pousada.</p>
        </a>
      </div>
    </div>
  </div>
</div>
