<div id="conta_<%= conta.id %>">
  <p>
    <strong>Nome:</strong>
    <%= conta.nome %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= conta.cpf %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= conta.email %>
  </p>
</div>
