<div id="<%= dom_id quarto %>">
  <p>
    <strong>Numero:</strong>
    <%= quarto.numero %>
  </p>

  <p>
    <strong>Andar:</strong>
    <%= quarto.andar %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= quarto.preco %>
  </p>

</div>
