<div id="hospede_<%= hospede.id %>">
  <p>
    <strong>Nome:</strong>
    <%= hospede.nome %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= hospede.cpf %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= hospede.email %>
  </p>
</div>
