<div id="funcionario_<%= funcionario.id %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= funcionario.cpf %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </p>
</div>
