<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center shadow rounded ratio ratio-1x1 h-75">
        <a href="<%= reservas_path %>" class="card-body d-flex flex-column justify-content-center" style="text-decoration: none; color: inherit;">
          <h5 class="card-title">Reservas</h5>
          <p class="card-text">Gerenciar reservas da pousada.</p>
        </a>
      </div>
    </div>
  </div>
</div>
